BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
PointerAlignment: Right
Standard: Latest

AccessModifierOffset: -4
AlignConsecutiveAssignments: true
SpaceBeforeParens: ControlStatements